<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">TicketNow</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="nav d-none d-md-flex">
        <NavLink class="nav-link text-light bg-dark active" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link text-light bg-dark" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
        <NavLink class="nav-link text-light bg-dark" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </nav>
</nav>

<div class="@NavMenuCssClass d-md-none" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <NavLink class="nav-link text-light bg-dark active" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link text-light bg-dark" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span> Counter
        </NavLink>
        <NavLink class="nav-link text-light bg-dark" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
        </NavLink>
    </nav>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
